*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/bg3-8907ec01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

h1{
    color: #fff;
    text-align: center;
    background-color: #09c;
}

.member{  
     background-color:#09c;
     width: 300px;
     height: 300px;
     margin: 50px auto;
     position: relative;
     overflow: hidden;
}

.member img{
    display: block;
    width: 100%;
    height: 100%;
    transition-duration: 2s;
    transition-delay: 2s;
}

.member:hover img{
     transform: scale(1.2);
}
.member .layout{
    background-color: rgba(0, 153, 204, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 2s;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition-duration: 2s;
    overflow: hidden;
}

.member:hover .layout{
    transform: rotate(360deg);
    opacity: 1;
}

.member .layout h2{
    background-color: #09c;
    padding: 10px 0px;
    margin-bottom: 20px;
    transition-delay: 4s;
}

.member .layout h2,
.member .layout p {
    transform: translateX(100%);
    transition-duration: 2s;
}

.member .layout p{
    transition-delay: 5s;
}

.member:hover .layout h2,
.member:hover .layout p{
    transform: translateX(0%);
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container2 .box{
    width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
}


.container2 .box:hover .front{
    transform: rotateY(180deg);
}

.container2 .box .front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition-duration: 2s;
}

.container2 .box img{
    width: 100%;
}

.container2 .box:hover .back{
    transform: rotateY(0);
}
.container2 .box .back{
    background-color:#678888;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition-duration: 2s;
    transform: rotateY(-180deg);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}


.container2 .box:hover .back h2{
    transition-delay: 4s;
}
.container2 .box:hover .back h2,
.container2 .box:hover .back p{
    transition-duration: 2s;
    transition-delay: 5s;
    left: 0;
}

.container2 .box .back h2{
    background-color: #2a3f55;
    width: 100%;
}
.container2 .box .back h2,
.container2 .box .back p{
    width: 90%;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    left: 100%;
    z-index: 5;
    margin-bottom: 20px;
}






























