*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(images/bg3-8907ec01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

h1{
    color: #fff;
    text-align: center;
    background-color: #09c;
}

.member{
    background-color:#09c;
    height: 300px;
    
}
.member,
.container2{  
    width: 300px;
    margin: 50px auto;
    position: relative;
    overflow: hidden;
}

.member img,
.container2 img{
    display: block;
    width: 100%;
    height: 100%;
    transition-duration: 2s;
    transition-delay: 2s;
    overflow: hidden;
}

.member:hover img{
     transform: scale(1.2);
}
.member .layout{
    opacity: 0;
    background-color: rgba(0, 153, 204, 0.5);
}
.member .layout,
.container2 .layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition-duration: 2s;
    text-align: center;
    color: #fff;
    transition-duration: 2s;
    overflow: hidden;
}

.member:hover .layout{
    transform: rotate(360deg);
    opacity: 1;
}

.member .layout h2{
    background-color: #09c;
}
.member .layout h2,
.container2 .layer h2 {
    padding: 10px 0px;
    margin-bottom: 20px;
    transition-delay: 4s;
}

.member .layout h2,
.member .layout p,
.container2 .layer h2,
.container2 .layer p  {
    transform: translateX(100%);
    transition-duration: 2s;
}

.member .layout p,
.container2 .layer p{
    transition-delay: 5s;
}

.member:hover .layout h2,
.member:hover .layout p,
.container2:hover .layer h2,
.container2:hover .layer p{
    transform: translateX(0%);
}

.container2 img{
    height: 400px;
}

.container2:hover img{
    backface-visibility: hidden;
    transform: rotateY(-180deg);
    transition-delay: 2s;
}

.container2 .layer{
    background-color: #fff;
    opacity: 0;
    transform: rotateY(0deg);
}

.container2:hover .layer{
    opacity: 1;
    background-color: #697888;
}

.container2 .layer h2{
    width: 100%;
    background-color: #1b4875;
}

.container2 .layer h3{
    color: #00FF00;
    margin-top: 20px;
}

.container2 .layer .parent{
    width: 100px;
    height: 100px;
    flex-wrap: wrap;
    background-color: #00FF00;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
    align-content: center;
    border:1px solid #fff;
    gap: 30px;
}

.container2 .layer .parent .content{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 100px;
}
.container2 .layer .parent .child:nth-of-type(0){
    flex-grow: 1;
}


























